.App {
  display: flex;
  border: 1px solid red;
  text-align: center;
}

.ColorViewer {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  border: 2px solid red;
  justify-content: center;
}

.colorPickerMain {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid red;
  flex: 1
}

.colorSquare {
  height: 100px;
  width: 100px;
  text-align: center;
  flex-grow: 1;
}